@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:#1d4aff;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100%;
}

section{
  padding:2rem;
  background-color: #e6e7e1;
}
#select{
  padding-top: 10%;
  text-align: center;
}
#select h1{
  font-size: 5rem;
  margin-bottom: 6%;
}
.constrain{
  margin: 5% 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  text-align: left;
}
.dividing h2{
  font-size: 1.8rem;
  color: #838383;
}
.dividing H3{
  margin-top: 9%;
  font-size: 2.5rem;
  font-weight: 700;
}
.dividing h4{
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2%;
}
.dividing h3 span{
  margin-left: 5%;
  color: #838383;
  border: solid 1px #838383;
  padding: 0.5rem;
  font-size: 1rem;
}
.dividing button{
  margin-top: 10%;
  color: #fff;
  background-color: #000;
  border-radius: 3rem;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 1rem 4rem;
}
.dispec{
  border-right: dashed 3px #d3d3d3;
}
header{
  background-color: #fff;
}
body .footer{
  background-color: #d3d3d3;
}
