@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:#f54e00;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100%;
}

section{
  padding:2rem;
}


.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2);
  color:#f54e00;
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:#f54e00;
  color:#fff;
  padding:.8rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
}



header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#000;
  text-transform: uppercase;
}

header .logo span{
  color:#f54e00;
}

header .navbar a{
  color:#000;
  font-size: 2rem;
  margin:0 2rem;
  text-transform: capitalize;
  font-weight: 600;
}

header .navbar a:hover{
  color:#f54e00;
}

#login-btn{
  background-color: #000;
  color: #fff;
  padding: 0.5rem 3rem;
  font-size: 2rem;
  border-radius:2rem;
}
#login-btn:hover{
  background-color: #f54e00;
  color: #fff;
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#333;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}

.login-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active{
  top:0;
}

.login-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.login-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
  border-radius: 3rem;
}

.login-form-container form .box:focus{
  border-color: #f54e00;
}

.login-form-container form #remember{
  margin:2rem 0;
}

.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn{
  display: block;
  width:100%;
  background-color: #f54e00;
  border-radius: 3rem;
  padding: 1rem 0;
}

.login-form-container form .btn:hover{
  background-color: #fff;
  border: solid  2px  #f54e00;
  color: #f54e00;
}

.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.login-form-container form p a{
  color:#f54e00;
}

.login-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

#menu-bar{
  color:#f54e00;
  border:.1rem solid #f54e00;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

#home{
  background-color: #eeefe9;
  position: relative;
  text-align: center;
}
.hero{
  margin-top: 15%;
color: #151515;
margin-bottom: 5%;
}
.hero h1{
  font-size: 6rem;
  margin: 1% 25%;
  font-weight: 800;
  text-align: center;
}
.hero h2{
  font-size: 2rem;
  text-align: center;
  opacity: 0.8;
  font-weight: 600;
  margin-bottom: 3%;
}
.hero a{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 4rem;
  background-color: #151515;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 3%;
}
.hero a:hover{
  color: #f54e00;
}
.hero .demograph{
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  background-color: #eeefe9;
  padding: 1rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 0.1rem solid #151515;
}
.hero .demograph:hover{
  color: #f54e00;
  border-color: #f54e00;
}
#home img{
  position: absolute;
  right: 1%;
  top: 15%;
  width: 22%;
}
.secondary{
  height: 15vh;
  background-color: #e6e7e1;
}
.secondary h3{
  font-size: 1.5rem;
  opacity: 0.8;
  text-align: center;
  padding-top: 3.2%;
}
.secondary h3 a{
  color: #f54e00;
}
.turtury{
  background-color: #d3d3d3;
}
.divider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.divid{
  font-size: 1.8rem;
  padding: 4rem 0 3rem 0;
  border: 0.5px dashed #838383;
}
.divid h4{
  display: flex;
  justify-content: center;
  align-items: center;
}
#after{
  background-color: #eeefe9;
}
#before{
  border-radius: 2rem;
  background-color: #151515;
  position: relative;
  padding-top: 10%;
  height: auto;
  padding-bottom: 5%;
}
#before h1{
  color: #f54e00;
  font-size: 7rem;
  font-weight: 700;
}
#before h2{
  font-size: 6rem;
  color: #fff;

}
#before h3{
  font-size: 2.4rem;
  color: #838383;
  margin-top: 1%;
}
#before img{
  float: left;
  width: 20%;
  margin-right: 5%;
}
#before .doyou{
  width: 10%;
  position: absolute;
  left: 15%;
  top: 8%;
}
#before p{
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-left: 5%;
}
.aligning{
  margin-top: 7%;
}
.before1 , .after1{
  height: 50vh;
  width: 100%;
}
#before .before1 img,
#before .after1 img{
  width: 80%;
  margin-left: 10%;
  border-radius: 2rem;
}
#before .before1 p{
  margin-bottom: 3%;
}

#before .after1 p{
  margin-top: 12%;
}
#tutorial{
  background-color: #eeefe9;
  text-align: center;
  padding-bottom: 5%;
}
#tutorial h1{
  font-size: 5rem;
  margin-top: 5%;
  font-weight: 700;
  margin-bottom: 1%;
}
#tutorial h2{
font-size: 2rem;
opacity: 0.6;
}

.conteudo {
  display: none;
  opacity:0;
  background-image: url(images/bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1%;
}

.conteudo.active {
  display: block;
  opacity:1;
}
#steps{
  color: #000;
}
.conteudo h1{
  font-size: 3rem;
  padding-top: 4rem;
  text-align: center;
}
.conteudo h2{
  font-size: 1.9rem;
  opacity: 0.8;
  text-align: center;
  font-weight: 300;
 margin: 3% 18%;
}
.conteudo img{
  width: 70%;
  margin-left: 15%;
}
.links{
  font-size: 2.5rem;
  margin-right: 0.5%;
  color: inherit;
  font-weight: 600;
}
.link1{
margin-left: 12%;
}

.links:hover,
.links.active{
  color: #f54e00;
}
#place{
  background-color: #eeefe9;
}

#place h1{
  padding: 5%;
  font-size: 5rem;
  text-align: center;
}
#place h1 span{
  color: #f7a501;
}
#review {
  padding: 5%;
}
#review h5{
  font-size: 3rem;
  margin: 3% 10% 3% 12%;
  font-weight: 700;
  line-height: 4rem;
}
#review h5 span{
  color: #f54e00;
}
.photos{
  margin-left: 12%;
}
.photos img{
  float: left;
}
.photos h2{
  padding: 2% 0 0 13%;
  font-size: 2.2rem;
  font-weight: 800;
}
.photos h3{
  padding: 0.5% 0 0 13%;
  font-size: 1.7rem;
  opacity: 0.5;
  font-weight: 700;
}
#github{
  background-color: #000;
  border-radius: 3rem;
  padding-bottom: 5%;
  text-align: center;
}
#github h1{
font-size: 4.5rem;
font-weight: 800;
padding:5% 0 3% 0;
color: #fff;
}
#github h1 span{
  color: #f54e00;
}
#github h2{
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.partition{
  margin: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.divids{
  border-right:dashed 1px #fff;
}
.divids1{
  border: none;
}
.divids h3{
  font-size: 10rem;
background: -webkit-linear-gradient(#fff, #000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.divids p{
  color: #fff;
  margin-top: 2%;
  font-size: 1.5rem;
}
#github a{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
  border: solid 3px #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
#github a:hover{
    color: #f54e00;
    border-color: #f54e00;

}
.dividing img{
  width: 100%;
}
.partitions{
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  text-align: center;
}
.dividing p{
  margin-top: 5%;
  font-size: 1.7rem;
  font-weight: 800;
  color: #f54e00;
}
#tutorial a{
  font-size: 1.8rem;
  color: #000;
  border: solid 2px #838383;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 3rem;
}
#tutorial a:hover{
    color: #f54e00;
    border-color: #f54e00;
  }
#try{
  margin-top: 5%;
  background-color: #1d4aff;
  border-radius: 2rem;
  color: #fff;
  padding: 10% 0;
}
#try h1{
  margin-top: 0;
  font-size: 5rem;
 font-weight: 800;
}
#try h2{
  font-size: 2rem;
  color: #fff;
  opacity: 1;
}
#try a{
    font-size: 1.8rem;
    color: #1d4aff;
    background-color: #fff;
    font-weight: 700;
    padding: 1rem 7rem;
    border-radius: 3rem;
    border: none;
}
#try .button{
  cursor: pointer;
  color: #fff;
  background-color: #1d4aff;
  border: solid 2px #fff;
  padding: 1rem  4rem;
}
.footer{
    background-color:#e6e7e1;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#000;
    border: solid 1px #000;
    margin:.3rem;
    border-radius: 50%;
    opacity: 0.7;
}

.footer .share a:hover{
    background-color: #f54e00;
    color: #fff;
    border-color: #fff;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#000;
    border: solid 1px #838383;
    font-size: 2rem;
}

.footer .links a:hover{
    background:#f54e00;
    color: #fff;
}

.footer .credit{
    font-size: 2rem;
    color:#000;
    padding:1.5rem;
}

.footer .credit span{
    color:#f54e00;
    font-weight: 600;
}
  @media (max-width:1367px){
    .link1{
      margin-left: 6%;
    }
    .hero h2{
      margin: 0 15%;
      margin-bottom: 3%;
    }
  }
  @media (max-width:1285px){

    html{
      font-size: 55%;
    }

 .align-link{
  margin: 0 10%;
  text-align: center;
  }
  }

  @media (max-width:991px){

    header{
      padding:2rem;
    }

    section{
      padding:2rem;
    }
.divider {
  grid-template-columns: 1fr;
}
.divid h4{
  display: block;
  text-align: left;
}
.divid{
  font-size: 2.2rem;
  padding-left: 5%;
}
.divid i{
  font-size: 3rem;
}
.before1, .after1 {
  height: 30vh;
}
  }

  @media (max-width:800px){


#home img {
  width: 30%;
  top: 33%;
  right: 0;
  left: 70%;
}

    #menu-bar{
      display: block;
    }

    header .navbar{
      position: absolute;
      top:100%; right:0; left: 0;
      background: #d3d3d3;
      border-top: .1rem solid rgba(255,255,255,.2);
      padding:1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding:1.5rem;
      margin:1.5rem 0;
      background:#fff;
      color: #000;
      text-align: center;
    }
header .navbar a:hover{
  color: #f54e00;
}
  }

  @media (max-width:666px){
    #home img{
  display: none;
  }
  #before img {
    float: none;
    width: 40%;
    margin-left: 30%;
  }
  #before .doyou{
    width: 25%;
    top: 2%;
    left: 20%;
  }
  .photos{
    margin-bottom: 10%;
  }
  .photos img{
    padding-right: 5%;
  }
  .photos h2{
    padding-top: 7%;
  }
  .partition ,
  .partitions{
    grid-template-columns: 1fr;
  }
  .divids{
    border: none;
  }
  .secondary{
    height: auto;
  }
  .secondary  h3{
    padding: 4% 0;
    font-size: 1.7rem;
  }
}
  @media (max-width:500px){
    .hero h1{
      margin: 0 1% 5% 1%;
    }
    .hero  h2{
      margin-bottom: 7%;
    }
    html{
      font-size: 50%;
    }

    .heading span{
      font-size: 2.5rem;
    }

    .contact .row form .inputBox input{
      width:100%;
    }

  }

@media  (max-width:400px){
  
  #before .before1 img, #before .after1 img {
    width: 100%;
    margin-left: 0;
  }
  .before1, .after1 {
    height: auto;
  }
}
